body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  max-width: 1900px;
}
.main {
  text-align: center;
  background-image: url(../img/01.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.main .main__txt {
  padding: 250px;
}
.main h1 {
  color: white;
  font-size: 70px;
}
.main p {
  color: white;
  font-size: 30px;
}
.menu {
  font-family: 'Inconsolata', monospace;
}
.menu .menu__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.menu .menu__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-size: 20px;
}
.text {
  text-align: center;
  margin: 50px;
}
.text .text__big {
  color: #332F2C;
  font-size: 25px;
  font-weight: 100;
}
.text .text__litle {
  color: gray;
}
.img {
  display: flex;
  justify-content: center;
}
.img .img__txt,
.img .img__text {
  list-style: none;
}
.img .img__txt-main {
  display: flex;
  justify-content: space-between;
}
.img .img__text {
  color: #332F2C;
  font-weight: bold;
  font-size: 25px;
}
.img .img__txt {
  font-size: 20px;
}
.img .img__space-work {
  color: gray;
  text-align: left;
}
.category {
  display: flex;
  justify-content: space-around;
}
.category .category__item {
  font-size: 20px;
  color: dimgrey;
  margin-top: 100px;
}
.category .category__text {
  color: gray;
}
.info .info__block {
  border: 1px solid grey;
}
.footer {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  line-height: 280%;
  padding: 35px;
}
.footer a {
  text-decoration: none;
  color: #515769;
  font-family: 'Hind Siliguri', sans-serif;
}
.footer a:hover {
  color: #E2E2E2;
}
.footer li {
  list-style-type: none;
}
.footer .footer__item {
  font-size: 18px;
  font-weight: lighter;
}
.maps__main {
  padding: 20px;
}
.maps__main .maps__map {
  opacity: 0;
}
.maps__main .maps__text {
  color: #515769;
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Hind Siliguri', sans-serif;
}
.logo {
  float: left;
  padding: 60px;
}
.costom {
  text-align: left;
  margin-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 500px;
}
.costom .costom__txt {
  color: #515769;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Hind Siliguri', sans-serif;
}
.costom .costom__text {
  padding: 10px;
  line-height: 1,1;
  font-weight: lighter;
}
.costom blockquote {
  margin-top: -100px;
  padding-left: 30px;
}
.costom .costom__blockquote {
  font-size: 20px;
  font-weight: lighter;
  color: #a6a7aa;
}
.costom .costom__blockquote:before {
  font-size: 65px;
  color: #17bed2;
  content: '″';
  margin: 10px;
}
.costom b {
  color: dimgrey;
}
.kit {
  background: #F5F5F5;
  width: 100%;
}
.kit .kit__main {
  display: flex;
  justify-content: center;
}
.kit .kit__block {
  margin: 70px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 90px 50px;
  font-family: 'Hind Siliguri', sans-serif;
  color: #515769;
  text-align: left;
  font-weight: 900;
  background: #fff;
}
.kit .kit__h2 {
  font-size: 30px;
}
.kit .kit__p {
  color: #81848f;
  font-weight: lighter;
  line-height: 0,3em;
}
.kit .kit__item {
  color: gray;
  font-weight: lighter;
  margin-bottom: 10px;
}
.kit i {
  color: #999caa;
}
.kit span {
  font-weight: lighter;
  font-size: 15px;
  color: gainsboro;
}
.kit .kit__li {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 50px;
}
.kit li:before {
  content: " − ";
  color: #17bed2;
  font-size: 15px;
  font-weight: bolder;
}
.kit a {
  text-decoration: none;
  color: #515769;
  font-family: 'Hind Siliguri', sans-serif;
  text-transform: uppercase;
}
.kit a:hover {
  color: whitesmoke;
}
.kit .kit__choose {
  padding: 15px 40px;
  background: #f3f4f5;
}
.kit .kit__choose:hover {
  background: #17bed2;
}
.pictures {
  margin: 50px;
}
.pictures .pictures__img {
  display: inline-block;
  position: relative;
}
.pictures .pictures__img:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0,1;
  font-size: 20px;
  font-family: 'Hind Siliguri', sans-serif;
  color: darkgrey;
  font-weight: lighter;
}
.fix {
  padding: 5px;
}
.fix .fix__one {
  display: inline-flex;
  margin-top: 50px;
}
.fix .fix__two {
  display: inline-flex;
  margin-bottom: 50px;
}
.display {
  background-image: url('/img/02__pictures.jpg');
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  height: 400px;
  opacity: 0.9;
}
.display h2 {
  color: black;
  font-size: 35px;
  font-family: 'Hind Siliguri', sans-serif;
}
.display .display__text {
  padding-top: 100px;
}
.display p {
  color: black;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
}
.service {
  background: #F5F5F5;
  margin-bottom: -30px;
  margin-top: -10px;
}
.service .service__main {
  margin-top: 80px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: left;
  padding: 20px;
  font-family: 'Hind Siliguri', sans-serif;
  width: 300px;
}
.service .service__text {
  font-size: 20px;
  color: #515769;
  margin-left: 20px;
}
.service .service__other {
  color: #a6a7aa;
  margin-bottom: 5px;
  margin-left: 20px;
}
.service i {
  margin-left: 20px;
  color: black;
}
.service .service__item {
  margin-bottom: 80px;
  display: inline-block;
  background: white;
  text-align: left;
  padding: 20px;
  font-family: 'Hind Siliguri', sans-serif;
  width: 300px;
}
.service a {
  text-decoration: none;
  background: white;
}
.service .service__main:hover {
  background-color: #17bed2;
}
.service .service__main:hover .service__other {
  color: white;
}
.service .service__main:hover .service__text,
.service .service__main:hover i {
  color: white;
}
.service .service__item:hover {
  background-color: #17bed2;
}
.service .service__item:hover .service__other {
  color: white;
}
.service .service__item:hover .service__text,
.service .service__item:hover i {
  color: white;
}
.pic {
  display: flex;
  width: 300px;
}
.pic .pic__img {
  margin: 5px;
}
.item {
  font-family: 'Hind Siliguri', sans-serif;
}
.item h2 {
  color: #515769;
  margin-top: 30px;
  font-weight: 800;
}
.item p {
  color: #a6a7aa;
  margin-bottom: 40px;
}
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.row .row__img-img {
  margin: 10px;
}
.row .row__text {
  text-align: left;
  margin-left: 10px;
  font-family: 'Hind Siliguri', sans-serif;
}
.row span {
  margin-left: 20px;
  color: #bfc1c7;
  text-transform: uppercase;
}
.row a {
  text-decoration: none;
  color: #515769;
  font-size: 22px;
}
.row a:hover {
  color: #81848f;
}
.row p {
  text-align: left;
  margin-left: 10px;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
  color: #a6a7aa;
}
.row .row__read {
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Hind Siliguri', sans-serif;
  margin-left: 10px;
  float: left;
  color: #81848f;
}
.row .row__read:after {
  content: "−";
  font-weight: 900;
  font-size: 15px;
  margin: 10px;
  color: #17bed2;
}
