.costom {
    text-align: left;
    margin-left: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    

    .costom__txt {
//        float: left;
        color: #515769;
        font-size: 25px;
        font-weight: bold;
        margin: 10px;
    }
    
    .costom__blockquote {
        font-size: 15px;
        font-weight: lighter;
        color: grey;
    }
    
}